---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sea Cargo',
  description:
    'Efficient sea cargo in Dubai. Seamless sea shipping & reliable sea freight services. Elevate your logistics for success.',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Ocean Freight and Shipping"
    title="Sea cargo servcie in Dubai"
    subtitle="Welcome to Pakistan Cargo, your trusted partner for seamless and reliable sea cargo services. Our commitment is to provide you with top-notch logistics solutions that cater to your every shipping need. Explore the world of possibilities with our comprehensive sea cargo services."
    actions={[
      {
        variant: 'primary',
        text: 'Call us',
        href: 'tel:+971504948135',
        target: '_parent',
        icon: 'tabler:phone',
      },
      { text: 'WhatsApp', icon: 'tabler:brand-whatsapp', href: 'https://wa.me/message/TJZP4WU2P2XGD1' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1494412552100-42e4e7a74ec6?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'sea cargo service in Dubai',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore our Sea cargo services"
    subtitle="At Pakistan Cargo, we redefine excellence in sea cargo services. Our dedicated team ensures that your cargo journey is not just a delivery but a smooth sailing experience from start to finish. Whether you're dealing with a Full Container Load (FCL) or a Less Than Container Load (LCL), we have tailored solutions to meet your requirements."
    columns={3}
    items={[
      {
        title: 'Full Container (FCL) Shipping',
        description:
          'Embrace the efficiency of our Full Container Load (FCL) services. With dedicated containers for your cargo, enjoy the benefits of exclusive shipping, optimal security, and faster transit times.',
        icon: 'tabler:ship',
      },

      {
        title: 'Less Than Container Load (LCL) Shipping',
        description:
          'For shipments that do not fill an entire container, our Less Than Container Load (LCL) services provide a cost-effective and flexible solution. Your cargo shares space with other shipments, ensuring you only pay for the space you need.',
        icon: 'tabler:building-warehouse',
      },
      {
        title: 'Door-to-Door Cargo Service',
        description: `Experience convenience like never before with our Door-to-Door Cargo service. From your location to the destination, we manage the entire process, ensuring a hassle-free and secure delivery.`,
        icon: 'tabler:plane',
      },
      {
        title: 'Sea Cargo Import',
        description:
          'Seamless importing made easy. Trust Pakistan Cargo to handle all your sea cargo import needs with precision, ensuring your goods reach their destination on time.',
        icon: 'tabler:mail-filled',
      },
      {
        title: 'Sea Cargo Export',
        description:
          'Globalize your business with our Sea Cargo Export services. We ensure your exports are handled with care, meeting international standards and regulations for a smooth shipping experience.',
        icon: 'tabler:packages',
      },
      {
        title: 'Business Logistics',
        description:
          'Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence.',
        icon: 'tabler:building-store',
      },
          
      
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Cargo to Karachi',
        description: 'Send cargo to Karachi from Dubai, Abu Dhabi, Sharjah, Ajman door to door.',
        icon: 'tabler:wand',
      },
      {
        title: 'Cargo to Lahore',
        description: 'Send cargo to Lahore from Dubai, Abu Dhabi, Sharjah, Ajman door to door.',
        icon: 'tabler:settings',
      },
      {
        title: 'Cargo to Islamabad',
        description: 'Send cargo to Islamabad from Dubai, Abu Dhabi, Sharjah, Ajman door to door.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Cargo to Peshawar',
        description: 'Send cargo to Peshawar from Dubai, Abu Dhabi, Sharjah, Ajman door to door.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Service Scope</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Cargo to Multan',
        description: 'Send cargo to Multan from Dubai, Abu Dhabi, Sharjah, Ajman door to door.',
        icon: 'tabler:clock',
      },
      {
        title: 'Cargo to Faisalabad',
        description: 'Send cargo to Faisalabad from Dubai, Abu Dhabi, Sharjah, Ajman door to door.',
        icon: 'tabler:school',
      },
      {
        title: 'Cargo to Kashmir',
        description: 'Send cargo to Kashmir from Dubai, Abu Dhabi, Sharjah, Ajman door to door.',
        icon: 'tabler:coin',
      },
      {
        title: 'Cargo to Gujaranwala',
        description: 'Send cargo to Gujaranwala from Dubai, Abu Dhabi, Sharjah, Ajman door to door.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>

  

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `They never let us down, we are very happy to use their servcie.`,
        name: 'Shazia Khan',
        job: 'Business Owner',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `Best cargo company in UAE for door to door delivery, my cargo was little delayed but received without any damage.`,
        name: 'Sarah Hansen',
        job: 'Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I have tried several cargo companies but most of the time it was damange but it is not the case here, whenver i treid them, everything we receved was in very good condition.`,
        name: 'Rana Tanveer',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Ship Happy...',
      href: '/',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Call us now',
        href: '/',
      },
    ]}
    title="Want to ship by Sea?"
    subtitle="Ready to elevate your sea cargo experience? Contact Pakistan Cargo today to discuss your shipping needs. Our expert team is ready to provide you with a customized quote and guide you through a seamless sea cargo journey."
  />
</Layout>
