---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
  description:
    'Discover excellence in cargo services. Reach us for top-notch logistics solutions in Pakistan. Your journey starts with a call. Contact us now',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Welcome to Pakistan Cargo <br />
      <span class="text-accent dark:text-white highlight"> No.1 Cargo service in UAE</span>
    </Fragment>

    <Fragment slot="subtitle">
      Welcome to Pakistan Cargo, your premier choice for seamless cargo solutions in the UAE. With a commitment to excellence, we have established ourselves as the leading cargo service provider, specializing in sea cargo, air cargo, courier service, warehouse storage, transports, packing, and delivery services.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '7' },
      { title: 'Employees', amount: '50' },
      { title: 'Containers moved', amount: '1240' },
      { title: 'Deliveries', amount: '24.8K' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="About Us"
    subtitle="At Pakistan Cargo, we take pride in being the preferred cargo partner for individuals and businesses across the UAE. Our journey began with a vision to redefine cargo services, offering a comprehensive range of solutions tailored to meet the diverse needs of our valued customers."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Pick',
        description:
          'Free pickup from your door step.',
        icon: 'tabler:template',
      },
      {
        title: 'Pack',
        description:
          'export quality packing for the safe shipping.',
        icon: 'tabler:template',
      },
      {
        title: 'Move',
        description:
          'Logistics movement from origin and destination.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Sea Cargo',
        description:
          'Our extensive sea cargo services ensure safe and timely delivery of your goods to destinations worldwide. We leverage our global network to provide cost-effective and reliable sea freight solutions, catering to both personal and commercial shipments.',
        icon: 'tabler:template',
      },
      {
        title: 'Air Cargo',
        description:
          'With our air cargo services, we guarantee swift and efficient transportation of your shipments, prioritizing speed and security. Whether it is urgent documents or time-sensitive cargo, our air freight solutions are designed to meet the most demanding requirements.',
        icon: 'tabler:template',
      },
      {
        title: 'Courier Service',
        description:
          'Our dedicated courier service offers door-to-door delivery, making it easy for you to send and receive packages conveniently. We handle shipments of all sizes, ensuring a hassle-free and reliable courier experience.',
        icon: 'tabler:template',
      },
      {
        title: 'Warehouse Storage',
        description:
          'Secure and spacious, our warehouses provide a reliable storage solution for your goods. Our state-of-the-art facilities are equipped to handle various commodities, offering short-term and long-term storage options.',
        icon: 'tabler:template',
      },
      {
        title: 'Transports',
        description:
          'Our transport services are designed to seamlessly connect the various stages of your supply chain. From local transportation to cross-border logistics, we ensure the smooth movement of your cargo from origin to destination.',
        icon: 'tabler:template',
      },
      {
        title: 'Packing and Delivery Service',
        description:
          'Our expert packing services guarantee the safety of your shipments during transit. Coupled with our efficient delivery service, we take care of the entire process, ensuring your cargo reaches its destination in pristine condition.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="We are your trusted logistics partner. Experience the difference with our unparalleled services in sea cargo, air cargo, courier service, warehouse storage, transports, packing, and delivery. Your cargo journey begins and ends with us - the No. 1 Cargo Company in UAE."
    items={[
      {
        title: 'Reliability',
        description:
          'We understand the importance of reliable cargo services. With a track record of on-time deliveries and secure handling, you can trust us to meet your cargo needs consistently.',
      },
      {
        title: 'Cost-Effective Solutions',
        description:
          'We offer competitive pricing without compromising on service quality. Our cost-effective solutions ensure that you get the best value for your money.',
      },
      {
        title: 'Customer-Centric Approach',
        description:
          'At Pakistan Cargo, customer satisfaction is our priority. Our dedicated team is committed to providing personalized service, addressing your unique requirements with professionalism and care.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Why Choose Pakistan Cargo?"
    subtitle="Whether you are looking for reliable sea cargo, swift air cargo, efficient courier service, secure warehouse storage, seamless transports, or expert packing and delivery services, Pakistan Cargo is your trusted partner. Join countless satisfied customers who have chosen us as their No. 1 Cargo Company in UAE."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Door to door network',
        description: 'Our extensive network enables us to provide global cargo solutions. No matter where you are sending your cargo, we have the reach to get it there.',
        icon: 'tabler:globe',
      },
      {
        title: 'Transparent Pricing',
        description:
          'At Pakistan Cargo, we believe in transparency. Our pricing is straightforward, with no hidden fees or surprises. You can trust that the quote you receive is an accurate reflection of the services you will receive. Our transparent pricing policy ensures that you have clarity and confidence in your decision to choose Pakistan Cargo.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Global Network of Partners',
        description:
          'Our extensive network of international partners enables us to provide seamless door-to-door services globally. Whether your cargo is destined for Asia, Europe, the Americas, or any other part of the world, our global connections ensure a smooth and reliable delivery process. No destination is too far, and no challenge is too great for Pakistan Cargo.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'Abu Dhabi',
        description: '',
      },
      {
        title: 'Dubai',
        description: '',
      },
      {
        title: 'Sharjah',
        description: '',
      },
      {
        title: 'Ajman',
        description: '',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Consult us for shipping requirements"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'we are at your servcie',
        icon: 'tabler:messages',
            href: '/contact',
            target: '_parent',
    
        
      },
      {
        title: 'Call us',
        description:
          'contact us to get professional consultancy.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
