---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
  description:
    'Connect seamlessly with Pakistan Cargo! Contact us for reliable shipping solutions. Your trusted partner for efficient logistics. Call us now',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />
    
  <ContactUs
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  />
  

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'Consultation about shipping',
        description: `Chat with us for questions about Services and inquiries about cargo shipping, etc.`,
      },
      {
        title: 'Contact sales',
        description: 'Chat with us for questions about Services and inquiries about cargo shipping, etc.',
      },
      {
        title: 'Followup',
        description: 'Chat with us for questions about Services and inquiries about cargo shipping, etc.',
      },
      {
        title: 'Phone',
        description: '<a href="tel:+971504948135">+971504948135</a>',
        icon: 'tabler:headset',
      },

      {
        title: 'Phone',
        description: 'tel:+971',
        icon: 'tabler:headset',
      },
      {
        title: 'Phone',
        description: '<a href="tel:+971585817087">+971585817087</>',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'contact@pakistancargo.org',
        icon: 'tabler:mail',
      },
      {
        title: 'Dubai',
        description: 'Jebel Ali Industrial, Dubai, UAE',
        icon: 'tabler:map-pin',
      },
      {
        title: 'Abu Dhabi',
        description: 'Mussafah 40, Abu Dhabi, UAE',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
