---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pakistan Cargo Dubai',
  description:
    'No.1 Pakistan Cargo Dubai, Abu Dhabi, Sharjah. We offer sea cargo, air cargo, warehouse storage, customs clearance and packing.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Call us',
        href: 'tel:+971504948135',
        target: '_parent',
        icon: 'tabler:phone',
      },
      { text: 'WhatsApp', icon: 'tabler:brand-whatsapp', href: 'https://wa.me/message/TJZP4WU2P2XGD1', target: '_blank' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'Pakistan Cargo dubai' }}
  >
    <Fragment slot="title">
      Pakistan <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> Cargo</span> Dubai
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Door to Door Cargo</span> to Pakistan from Dubai, Abu Dhabi, Sharjah, and other
        locations. Our door-to-door cargo service ensures that your cargo is picked up from your door step and delivered
        directly to the destination. We offer cargo services in Abu Dhabi and Dubai to Pakistan.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">No.1 Cargo Services for Pakistan.</span>
       Cargo to Pakistan from Dubai, Abu Dhabi, Sharjah.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Our Services"
    title="Why chose us"
    subtitle="One of the most professional and reliable Pakistani Cargo company in United Arab Emirates from last 10 years."
    items={[
      {
        title: 'Door to Door Cargo',
        description:
          'Safe door to door cargo service all over Pakistan using well know business partners include  <a href="https://www.tcsexpress.com/" target="_blank">TCS</a>, <a href="https://www.leopardscourier.com/" target="_blank">Leopards couriers in same cargo rates</a>.',
        icon: 'tabler:package-export',
      },
      {
        title: 'Free Pickup',
        description: 'we offer free pickup service for customs clearance, Sea cargo and Air cargo from all over UAE from coverage areas.',
        icon: 'tabler:truck',
      },
      {
        title: 'Professional Team',
        description: 'Our educated and professional team provide personalized cargo services from abu dhabi to pakistan and cargo services from Dubai to Pakistan.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Special Discount if you lost the job',
        description:
          'We love to help Pakistanis. If you have lost the job and want to send your house holds to Pakistan, we have special discount for you ',
        icon: 'tabler:discount-check',
      },
      {
        title: 'Special Discount for deceased',
        description:
          'Its a big lost but Everyone has to go one day, we provide 50% to 100% dicsount for the cargo of deceased person and if you anyone, let us know to help them.',
        icon: 'tabler:discount-check-filled',
      },
      {
        title: 'Safe and damage free delivery',
        description:
          'We provide 99% damage free door to door shipping services provided that if we have done the packing',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="How can we help you"
    title="Shipping and Logistics services"
    items={[
      {
        title: 'Per Kg cargo service',
        description:
          'Send box or boxes, furniture, households, cloths, appliances, sofa, decoration items on per kg rates.',
      },
      {
        title: 'Full Contaienr to Pakistan',
        description:
          'Want to send 20 feet container or 40 feet container to Pakistan? We are registered freight broker and provide end to end logistics services include customs clearance from <b>UAE to pakistan cargo</b>.',
      },
      {
        title: 'Special Discount if moving back to Pakistan',
        description:
          'If you are moving out from UAE and want to move all of your households, we can help in transfer of residency and take care all of shipment need upto your door with special discount.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1594110336951-5bc8c12d6b27?q=80&w=1665&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Pakistan cargo service in dubai ',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sea Cargo Service</h3>
       We care and make your door to door sea freight cargo service by team of professionals.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Furniture storage',
        description: `Store boxes, extra items, Luggage Storage, Office storage, Furniture storage, House hold storage, Electronics storage.`,
      },
      {
        title: 'Busienss and commercial storage',
        description:
          'Need safe storage space to store your stock, inventry, pallets, textile, retail items or equipments for short or long term? We can take care of all your needs',
      },
      {
        title: 'Packing and Packaging service',
        description:
          'We offer export class packing for International movement which keep all of your goods safe and sound.',
      },
      {
        title: 'International delivery',
        description: 'We use prirmium delivery partners for the safe International delivery.',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/4483608/pexels-photo-4483608.jpeg',
      alt: 'Packig and warehouse storage',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Packing and warehouse storage</h3>
       We care and make your deliveries safe and secure.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Courier Services',
        description:
          'We provide International courier services to send documents or parcels using busines partners like DHL, TCS, Fadex, UPS, Skynet and many more.',
      },
      {
        title: 'Transport Services',
        description:
          'Are you looking for local transport service? We provide 1 ton, 3 ton, 7 ton, 10 ton pickups within UAE.',
      },
      {
        title: 'Trailer and Container Transport',
        description:
          'Open trailer, container transport, curtain side trailer, box trailer, low bed trailer are also availabe.',
      },
      {
        title: 'GCC Transport',
        description: `Want to send cargo to GCC countries? We can help to send your cargo to anywhere in middle east include Saudi Arabia, Bahrai, Qatar, Oman and other Arab Countries.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1659353740953-c93814e4a2a5?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Pakistan courier and transport services in dubai and abu dahbi',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Courier and Transport</h3>
       We care and make your deliveries safe and secure.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="How to send cargo to Pakistan."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Book an Order</span>',
        description:
          'Call or WhatsApp to book the order, our professional team will schedule the pickup as per availability.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Pickup</em>',
        description:
          'Our professionals will come to your place, proceed to innitial packing to make sure it is safe, wight the cargo and packages, raise the invoice and sent to warehouse for proceed.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Packing and Loading</span>',
        description:
          'Our packers will pack the cargo to make sure it is safe using best availabe packing material and load into the container.',
        icon: 'tabler:paint',
      },
      {
        title: 'Step 4: <span class="font-medium">Shipping and Delivery</span>',
        description:
          'Cargo will be ship to your country and will process local delivery using well know business partners up to your door.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'How to send cargo to Pakistan',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Trustable',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Earn Rewards',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Enjoy Discounts',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Satisfied Cost',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Support',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'User Friendly',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more about shipping in our blog"
    information={`Learn more about logistics and supply chain in blog and documentation.
                        Each new article is about knowledge, challanges and news.
                        We are very helpful. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="These are main questions our customer usually ask."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Do you have free pickup service?',
        description: 'Yes, we offer door cargo services for sea freight and air cargo service with free pickup services from covarage area, only urgent pickup order is paid.',
      },
      {
        title: 'Do you have door to door service?',
        description: 'Yes, we have door to door service and use premium courier companies to delivery the cargo.',
      },
      {
        title: 'How long it takes to reach the cargo in Pakistan?',
        description:
          'Expected delivery time is about 40-50 days in ideal conditions, it can take more time about 2-3 months due to political or grovernament issues.',
      },
      {
        title: 'What is minimum weight can I send to Pakistan?',
        description: 'You can send 20kg, 30kg but minimum chargeable weight is 40kg .',
      },
      {
        title: 'Do you have Packing Services or Packing material?',
        description: 'Yes, we do have professionals packer who are expert in fragile and non fragile packing.',
      },
      {
        title: 'Do you have Packing Material?',
        description:
          'Yes, we have packing material include cartoon boxes, corrugated boxes, currogated rolls, thermocol sheets, bubble rolls, packing beads, packing chips etc.',
      },
      {
        title: 'Do you have Pakistan cargo service in Abu Dhabi?',
        description:
          'Yes, we <a href="https://www.pakistancargo.org/pakistan-cargo-abu-dhabi">send cargo to Pakistan from Abu Dhabi.</a>',
      },
      {
        title: 'Do you offer courier service in UAE?',
        description:
          'Yes, we have UAE to Pakistan courier and pakistan to UAE courier',
      },
      {
        title: 'What are Pakistan cargo Rates?',
        description:
          'Cargo to Pakistan rates varies item to item, you can check <a href="https://www.pakistancargo.org/pricing">Pakistan Cargo Rates here</a>',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Containers', amount: '1240' },
      { title: 'Deliveries', amount: '24.8K' },
      { title: 'Offices', amount: '7' },
      { title: 'Staff', amount: '50' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact',
        href: '/contact',target: '_parent',
        
        icon: 'tabler:phone',
      },
    ]}
  >
    <Fragment slot="title">
      Contact&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Us</span>
    </Fragment>

    <Fragment slot="subtitle">
      Send your parcel with no worries. With Easy Pakistan shipping, we pick, pack and ship door to door. <br
        class="hidden md:inline"
      />Don't waste more time!
    </Fragment>
  </CallToAction>
</Layout>
