---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="One stop shop for end to end logistics solutions"
    subtitle="We are registered freight forwarding company and offer wide range of shipping services including Freight Forwarding, Sea Freight Service, Air Freight services, Relocation Services, in-Land and over-land Freight Services, Furniture Moving, Packing Services, Storage Services and logistics handling.."
    actions={[{ variant:"primary", target: '_blank', text: 'Start exploring', href: '/' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1494412552100-42e4e7a74ec6?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore our shipping services"
    subtitle="Discover our servcies below to streamline and elevate your projects."
    columns={3}
    items={[
      {
        title: 'Sea Cargo Services',
        description:
          'Sea Shipping cargo is one of the most popular methods of transportation for international shipments. This is because it is relatively cheaper and quicker than air cargo. It is also quite reliable. Pakistan cargo is a leading sea cargo service provider in Pakistan. We offer door to door shipments to Pakistan at very competitive rates. We also provide a tracking system so that you can keep track of your shipment at all times. If you are looking for a reliable and affordable sea cargo service, then please contact us today!',
        icon: 'tabler:school',
      },
      {
        title: 'Warehouse and Storage space',
        description:
          'Looking for storage in Dubai? We are the best company to trust. People from all over the world have come to our warehouse for help with their storage needs. Our services are helping people save space and time. Come in today for a free quote! We have the space that you need. Contact us today to find out more about our warehouse storage in Dubai which has the capacity for a variety of needs. If you’re using a warehouse for storage, then it’s important to know that we offer a wide array of services to suit your needs.',
        icon: 'tabler:home-star',
      },
      {
        title: 'Air Cargo Servcies',
        description: `Air cargo is a vital part of the global transportation system. It is used to transport goods and materials by air, often on a next-day or overnight basis. Air cargo is used to transport high-value or time-sensitive goods, such as electronics, pharmaceuticals, and perishable items. It is also used to transport heavy or bulky items that would be difficult or impractical to transport by other means. Air cargo is a great way to get goods and materials to Pakistan. There are many air cargo services that can help you get your goods to Pakistan.`,
        icon: 'tabler:photo',
      },
      {
        title: 'Courier Services',
        description:
          'We have corporate contracts with global courier companies like fadex, DHL, Aramex, TCS, UPS and offer afoardable prices.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Packing services',
        description:
          'Our professional packers are expert to pack furniture, fragile and non-fragile items, pallets, boxes, wooden packing, crockery, cargo boxes, crating etc.',
        icon: 'tabler:article',
      },
      {
        title: 'Business Logistics',
        description:
          'Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence.',
        icon: 'tabler:building-store',
      },
      {
        title: 'Movers and Packers services',
        description:
          'As a top-notch movers and packers company in your city, we provide the best moving and packing service in your area. Give us a call now to book our services or request a quote! No job is too big or small for our team of experts. We take care of all your belongings with care and no damage. Also, we offer a storage service for those who are between homes or looking for additional space!We make moving and packing a breeze. All you have to do is book our services, and we’ll take care of everything for you. No need to worry about the stress of moving, or the danger of packing. Get a quote today and let us handle it!',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Packing Material',
        description: `Packing material is used for packing and protecting cargo. There are many different types of packing materials that can be used for different purposes. Some of the most common materials are bags, boxes and wrappings. The main purpose of packing is to provide cushioning and protection for the contents during shipping, moving, transportation, storage, and handling. It also provides support for fragile items. Packing material includes bubble wrap, foam peanuts, corrugated cardboard boxes, and other materials. Some packing materials are designed to be reused.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Transport services',
        description:
          'We have all kind of transportaion vehicle ranging from 1 ton pickup, 3 ton pickup, 7 tons pickup, 10 tons pickup, trailers, box pickup for withing UAE and to GCC countries.',
        icon: 'tabler:tie',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'High-Quality Designs',
        description:
          'Our templates feature top-tier designs that ensure a professional and polished appearance for your projects.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customization Tools',
        description:
          'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        icon: 'tabler:settings',
      },
      {
        title: 'Pre-Designed Elements',
        description:
          'Save time and effort with our ready-to-use elements, including graphics, icons, and layouts that enhance the visual appeal of your creations.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Preview and Mockup Views',
        description:
          'Visualize the final outcome before making any changes using our preview and mockup views, ensuring your projects meet your expectations.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Time Savings',
        description:
          'Streamline your workflow, enabling you to create stunning materials efficiently and allocate more time to your core tasks.',
        icon: 'tabler:clock',
      },
      {
        title: 'Professional Appearance',
        description:
          'Elevate your projects with the polished and sophisticated look that our templates provide, making a lasting impression on your audience.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Efficiency',
        description:
          'Benefit from cost savings by avoiding the need for custom design work, as our templates offer professional-grade designs at a fraction of the cost.',
        icon: 'tabler:coin',
      },
      {
        title: 'Instant Download',
        description:
          'Enjoy immediate access to your chosen templates upon purchase, enabling you to begin working on your projects without delay.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Start exploring',
      href: '/',
    }]}
    title="Dive into our template collection"
    subtitle="Whether you're in business, design, or education, our templates are here to elevate your projects."
  />
</Layout>
